[Unit]
Description=Agnes Bot Service
After=network.target

[Service]
ExecStart=/home/bridge/agnes-bot/venv/bin/python3 main.py
WorkingDirectory=/home/bridge/agnes-bot
StandardOutput=inherit
StandardError=inherit
RestartSec=5
Restart=always
User=bridge

[Install]
WantedBy=multi-user.target
